
:root {
    --cor--principal: #C70039;
    --cor--fundo: #FFDBC3;
    --preto: #1A202C;
    --fonte--principal: 'Merriweather';
    --fonte--secundaria: 'Lato';
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0; 
    padding: 0; 
}

.corpo__principal {
    display: flex;
    justify-content: space-around;
}

.corpo__principal__imagem {
    display: block;
    display: flex;
    align-items: center;
    background-color: var(--cor--fundo);
    width: 55%;
}

.imagem {
    max-width: 50%;
    padding: 7em;
}

.corpo__principal__texto {
    display: flex;
    width: 45%;
    flex-direction: column;
    align-items: right;
    margin-top: 9em;
    margin-left: 8em;
}

.titulo {
    font-family: var(--fonte--principal);
    color: var(--preto);
    font-weight: 700;
    font-size: 34px;
    margin-top: 0;
}

.subtitulo {
    color: var(--preto);
    font-family: var(--fonte--principal);
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0;
}

.form__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.input__texto {
    font-family: var(--fonte--secundaria);
    font-size: 14px;
    color: var(--preto);
    font-weight: 400;
    padding: 0.5em 0;
}

.input__caixa {
    max-width: 80%;
    height: 3em;
    border-radius: 5px;
    border: 1.5px solid var(--cor--fundo);
}

.ancoras {
    display: flex;
    flex-direction: row;
    padding-top: 0.5em;
}

.ancora__comum {
    color: var(--preto);
    font-family: var(--fonte--secundaria);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.ancora__colorida {
    color: var(--cor--principal);
    font-family: var(--fonte--secundaria);
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    padding-left: 14em;
}

.botoes {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    width: 82%;
}

.botao__enviar {
    background-color: var(--cor--principal);
    border: 1.5px solid var(--cor--principal);
    color: var(--cor--fundo);
    height: 4em;
    margin-bottom: 1em;
    border-radius: 5px;
}

.botao__google {
    background-color: var(--preto);
    border: 1.5px solid var(--preto);
    color: var(--cor--fundo);
    height: 4em;
    border-radius: 5px;
}

.botao__google img {
    align-items: baseline;
    margin-right: 1em;
}

.footer {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}

.footer__texto {
    color: var(--preto);
    font-family: var(--fonte--secundaria);
    font-size: 16px;
}

.footer__ancora {
    text-decoration: none;
    font-family: var(--fonte--secundaria);
    color: var(--cor--principal);
    font-size: 16px;
    margin-top: 1em;
    font-weight: 700;
}

@media (max-width: 767px) {
    .corpo__principal__imagem {
        display: none;
    }
    
    .corpo__principal__texto {
        display: flex;
        width: auto;
        height: auto;
        margin-top: 6em;
        margin-left: 3em;
    }

    .input__caixa {
        max-width: 85%;
        border: 2px solid var(--cor--fundo);
    }

    .ancoras {
        padding-top: 2em;
    }

    .ancora__colorida {
        padding-left: 2.5em;
    }

    .botoes {
        margin-top: 3em;
        width: 90%;
    }

    .botao__enviar {
        height: 3em;
        margin-bottom: 2em;
    }

    .botao__google {
        height: 3em;
        border-radius: 5px;
    }

    .footer {
        margin-top: 6em;
        margin-left: 2em;
    }

}


