:root {
    --fonte-principal: 'Poppins';
    --branco: #F9F9F9;
}

body {
    background: linear-gradient(90deg, #628E75 0%, #1A4855 100%);
    box-shadow:rgba(31, 26, 51, 0.13);
    font-family: var(--fonte-principal);
    color: var(--branco);
}

.cabecalho {
    display: flex;
    align-items: center;
    padding: 3em 10em;
    justify-content: space-between;
}

.logo {
    width: 13%;
}

.redes__sociais {
    display: flex;
    width: 18%;
    justify-content: space-between;
}

.corpo__principal {
    display: flex;
    margin: 2em 10em;
    justify-content: space-between;
}

.corpo__principal__texto {
    width: 40%;
}

.subtitulo {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.6px;
}

.titulo {
    margin-top: 0.2em;
    font-size: 68px;
    font-weight: 900;
    line-height: 109%;
}

.texto {
    font-size: 18px;
    font-weight: 400;
    line-height: 180%;
}

.botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
}

.botao__assistir__agora ,.botao__assistir__trailer {
    border: none;
    background: none;
    cursor: pointer;
    color: var(--branco);
    font-weight: 500;
    line-height: 180%;
    font-size: 16px;
    display: block;
}

.corpo__principal__imagem {
    width: 45%;
}

@media (max-width: 430px) {
    .cabecalho {
        padding: 1em 1em;
    }

    .logo {
        width: 40%;
    }

    .redes__sociais {
        width: 40%;
    }

    .corpo__principal {
        display: flex;
        flex-direction: column-reverse;
        margin: 1em;
        justify-content: space-between;
        align-items: center;
    }

    .corpo__principal__texto {
        width: 100%;
    }

    .subtitulo {
        font-size: 28px;
        letter-spacing: 0.54px;
    }

    .titulo {
        margin-top: 0;
        font-size: 56px;
    }

    .texto {
        font-size: 16px;
    }

    .botoes {
        flex-direction: column;
        margin-top: 1em;
    }

    .botao__assistir__trailer {
        display: none;
    }

    .corpo__principal__imagem {
        width: 90%;
    }
    
}



